<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eip.dao.PrimarySchoolMapper">
    <resultMap id="PrimarySchoolResultMap" type="com.eip.pojo.PrimarySchool">
        <id column="PSId" property="PSId"/>
        <result column="PSName" property="PSName"/>
        <result column="PSAddress" property="PSAddress"/>
        <result column="PSDescription" property="PSDescription"/>
        <result column="PSStuffs" property="PSStuffs"/>
        <result column="PSTeachers" property="PSTeachers"/>
        <result column="PSCapacity" property="PSCapacity"/>
        <result column="PSCapacityYears" property="PSCapacityYears"/>
        <result column="PSPointX" property="PSPointX"/>
        <result column="PSPointY" property="PSPointY"/>
    </resultMap>

    <!--List<PrimarySchool> selectPrimarySchools();-->
    <select id="selectPrimarySchools" resultMap="PrimarySchoolResultMap">
        select * from tb_primaryschool
    </select>

    <!--PrimarySchool selectPrimarySchoolById(Integer id);-->
    <select id="selectPrimarySchoolById" resultMap="PrimarySchoolResultMap">
        select * from tb_primaryschool where PSId=#{id}
    </select>

    <!--Integer updatePrimarySchoolByObj(PrimarySchool primarySchool);-->
    <update id="updatePrimarySchoolByObj">
        update tb_primaryschool set
        <if test="PSName!=null and PSName !=''">
            PSName = #{PSName},
        </if>
        PSAddress = #{PSAddress},
        PSDescription = #{PSDescription},
        PSStuffs = #{PSStuffs},
        PSTeachers = #{PSTeachers},
        PSCapacity = #{PSCapacity},
        PSCapacityYears = #{PSCapacityYears},
        PSPointX = #{PSPointX},
        PSPointY = #{PSPointY}
        where PSId=#{PSId}
    </update>

    <!--Integer insertPrimarySchoolByObj(PrimarySchool primarySchool);-->
    <insert id="insertPrimarySchoolByObj">
        insert into tb_primaryschool(PSName,PSAddress,PSDescription,PSStuffs,PSTeachers,PSCapacity,PSCapacityYears,PSPointX,PSPointY)
        values(#{PSName},#{PSAddress},#{PSDescription},#{PSStuffs},#{PSTeachers},#{PSCapacity},#{PSCapacityYears},#{PSPointX},#{PSPointY})
    </insert>

    <!--Boolean deletePrimarySchoolById(Integer id);-->
    <delete id="deletePrimarySchoolById">
        delete from tb_primaryschool where PSId = #{id}
    </delete>

    <!--List<PrimarySchool> selectPrimarySchoolsByName(String name);-->
    <select id="selectPrimarySchoolsByName" resultMap="PrimarySchoolResultMap">
        select * from tb_primaryschool
        where PSName like concat('%',#{name},'%')
    </select>
</mapper>
